:root {
    --dark-grey: #343a40;
    --backgroundColor: #DFDFDF;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12;
}

body {
    background-color: var(--backgroundColor);
    width: 100%;
    margin-bottom: 70px;
    padding-top: 70px;
    position: relative;
    z-index: 1;
    min-width: 250px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

h1{
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}

h2{
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}

h3{
    font-size: 30px;
    text-align: center;
}

td, th {
    border: 1px solid #363636 !important;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #a8a8a8;
}

nav {
    position: relative;
    z-index: 1;
    height: 70px;
    
}

footer{
    background-color: var(--dark-grey);
    width: 100%;
    padding-top:20px;
    margin-bottom: 0;
    position: fixed;
    bottom: 0;
    height: 70px;
    z-index: 0;
    font-size: 16px;
}

.affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
}

.affix + .container-fluid {
    padding-top: 70px;
}

.content{
    background-color: var(--backgroundColor);
    width: 100%;
    position: relative;
    z-index: 1;
}

.section{
    padding-top: 40px;
}

.webs{
    height: 70px;
    background-color: transparent;
    position: relative;
    z-index: 1;
}

.bg{
    background-color: var(--backgroundColor);
    padding: 10px;
}

.btn-outline-success{
    color:#CA2424;
    background-color:transparent;
    background-image:none;
    border-color:#CA2424
}

.btn-outline-success:hover{
    color:#fff;
    background-color:#CA2424;
    border-color:#CA2424
}

.btn-outline-success.focus,.btn-outline-success:focus{
    box-shadow:0 0 0 3px rgba(40,167,69,.5)
}

.btn-outline-success.disabled,.btn-outline-success:disabled{
    color:#CA2424;
    background-color:transparent
}

.btn-outline-success.active,.btn-outline-success:active,.show>.btn-outline-success.dropdown-toggle{
    color:#fff;
    background-color:#CA2424;
    border-color:#CA2424
}
.center{
    text-align: center;
}

#main {
    transition: margin-left .5s;
    padding-top: 25px;
}

.sidenav {
    margin-top: 50px;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenavmenu{
    font-size:30px;
    cursor:pointer;
    color: white;
    background: #343a40;
    margin-top: 0px;
    position: fixed;
    padding: 5px;
    border-bottom-right-radius: 15px;
    z-index: 2;
}

.navbar{
    font-size: 17px;
}

.navbar-brand{
    font-size: 20px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

@media screen and (max-width: 992px) {
    h1{
        font-weight: bold;
        font-size: 40px;
        text-align: center;
    }
    
    h2{
        font-weight: bold;
        font-size: 30px;
        text-align: center;
    }
    
    h3{
        font-size: 25px;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    h1{
        font-weight: bold;
        font-size: 32px;
        text-align: center;
    }
    
    h2{
        font-weight: bold;
        font-size: 23px;
        text-align: center;
    }
    
    h3{
        font-size: 18px;
        text-align: center;
    }
}
